<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create</title>

    <% include partials/styles %>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />

    <% include partials/scripts %>
  </head>
  <body>
    <main>
      <form method="post" action="/stairs/">
        <label for="developers">Developers (comma separated)</label>
        <input id="developers" name="developers" type="text"></input>
        <input type="submit" value="Create Pair Stairs" />
      </form>
    </main>
  </body>
</html>
