<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pair Stairs</title>

    <% include partials/styles %>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css" />

    <% include partials/scripts %>
  </head>
  <body>
    <main>
    </main>
  </body>
</html>
